{% extends 'base.html' %}

{% load static %}
{% block content %}

<br>

<div class="authorization">
<div>
<div><h5 class="authorization_h5_center">Авторизация</h5></div>
<form method="post">
    {% csrf_token %}
    <div class="form_error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form_label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form_error">{{ f.errors }}</div>
    {% endfor %}
  <div class="login_btn"><button type="submit" class="btn btn-primary">Отправить</button></div><a href="{% url 'reset_password' %}"><div class="forgot_password"><h6>Забыл пароль?</h6></div></a>
</form>
</div>
</div>
{% endblock %}