{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="authorization">
    <div>
        <div><h5 class="authorization_h5_center">Восстановление пароля</h5><div>
        <br>
        <form method="post">
            {% csrf_token %}
            <div><p>
                <label class="form_label" for="{{ form.email.id_for_label }}">
                    {{form.email.label}}: 
                </label>
                {{ form.email }}
            </p></div>
            <div class="form_error">{{ form.email.errors }}</div>
            <p><div class="login_btn">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div></p>
        </form>
    </div>
</div>
{% endblock %}