{% extends 'books/base.html' %}

{% load static %}


{% block content %}
  {% if validlink %}
  <div class="authorization">
    <div>
    <div><h5 class="authorization_h5_center">Смена пароля</h5></div>
    <form method="post">
      {% csrf_token %}
      <p><label class="form_label" for="{{ form.new_password1.id_for_label }}">{{form.new_password1.label}}: </label>{{ form.new_password1 }}</p>
      <div class="form_error">{{ form.new_password1.errors }}</div>
      <p><label class="form_label" for="{{ form.new_password2.id_for_label }}">{{form.new_password2.label}}: </label>{{ form.new_password2 }}</p>
      <div class="form_error">{{ form.new_password2.errors }}</div>
      <div class="login_btn"><button type="submit" class="btn btn-primary">Подтвердить</button></div>
    </form>
  </div>
</div>
  {% else %}
    <p>
      Вероятно ссылка неверна или уже была использована
    </p>
  {% endif %}
{% endblock %}