{% load static %}


<div style = 'clear: both;'></div>

{% for i in page_obj %}
      <div class="card mb-3" style="width: 540px; height: 250px ">
          <div class="row g-0">
              <div class="col-md-4">
                  {% if i.photo %}
                      <a href="{{ i.get_absolute_url }}">
                          <img class="img-fluid rounded-start" src="{{i.photo.url}}">
                      </a>
                  {% endif %}
              </div>
              <div class="col-md-8" id="flex_tab" >
                  <div class="card-body">
                      <h5 class="card-title">
                          <a class="a_href_title" href="{{ i.get_absolute_url }}">{{ i.title|truncatechars:29 }}</a>
                      </h5>
                      <p class="card-text">
                          <a class="a_book" id="cat_a_author" href="{% url 'main:author' i.author_slug_URL %}">{{ i.author }}</a>
                      </p>
                      <h5 class="card-subtitle" id="price_product_cart" >{{ i.price }} ₽</h5>
                      <div>
                          <div class="form_book_buy2">
                              <form action="{% url "cart:cart_add" i.slug %}" method="post">
                                  <div class="number">
                                      <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                                      <input type="number" name="quantity" min="1" value="1" >
                                      <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                                  </div>
                                  {% csrf_token %}
                                  <div class="btn_card_price" id="btn_card_price">
                                      <input class="btn btn-primary" id="btn_card_price" type="submit" value="Заказать">
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  {% endfor %}