{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link type="text/css" href="{% static 'books/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <link href="{% static 'books/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'books/js/bootstrap.bundle.min.js' %}"></script>
    
</head>

<body>
  <div class="wrapper">
    <div class="page">
        <div class="header">

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Каталог</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'adventures' %}">Приключения</a></li>
                <li><a class="dropdown-item" href="{% url 'detective' %}">Детектив</a></li>
                <li><a class="dropdown-item" href="{% url 'fantasy' %}">Фэнтези</a></li>
                <li><a class="dropdown-item" href="{% url 'classical_prose' %}">Классическая проза</a></li>
                <li><a class="dropdown-item" href="{% url 'modern_prose' %}">Современная проза</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ссылка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Отключенная</a>
            </li>
          </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
  </div>
<br>


    {% block content %}
    {% endblock %}
  </div>
  </div>
</div>
</body>
</html>