{% extends 'books/base.html' %}

{% load static %}
{% block content %}

{% for i in book %}
<br>
<br>
<div class='book_div'>
        {% if i.photo %}
            <div class='div_img_book'><p><img class="photo_book" src="{{i.photo.url}}"></p></div>
        {% endif %}
        <h1 class='title_h1_book'>{{i.title}}</h1>
        <div class='a_book'><a href="#">{{ i.author }}</a></div>
        <div class='book_box'>
            <div class='book_box_left'>
                <h6>Издательсвто</h6>
                <h6>Год издания</h6>
            </div>
            <div class='book_box_right'>
                <h6>{{i.publisher}}</h6>
                <h6>{{i.year_of_publication}}</h6>
            </div>
            <div style='clear:both;'></div>
        </div>
        <div><h6 class="book_description">{{i.description}}</h6></div>
        
        <h3 class="prod_price">Цена товара:{{i.price}} р.</h3>


</div>
<div>

    {% if request.user.is_authenticated %}
    <form method="post"> 
        {% csrf_token %}
        
        <div class="form_error">{{ form.non_field_errors }}</div>
    
        {% for f in comment_form %}
        <p><label class="form_label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form_error">{{ f.errors }}</div>
        {% endfor %}
        
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form> 
    {% endif %}
    
    <br>
    <br>
    
        {% for i in comments %}
        <div class="card" id = "comments">
            <div class="card-body">
                <p class="card-text" id="user">{{ i.user }}</p>
                <p class="card-text" id="rating"><svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" color="orange">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg> {{ i.rating }}</p>
                <p class="card-text" id="comment">{{ i.comment }}</p>
            </div>
        </div>
        {% endfor %}

        <!--{% for i in comments %}
        <div class="comments">
            
                <p class="comments_user">{{ i.user }}</p>
                <p class="comments_rat">{{ i.rating }}</p>
                <p class="comments_com">{{ i.comment }}</p>
            
        </div>
        {% endfor %}-->
        
    <!--<form method="post">
        {% csrf_token %}
       
        <p><label class="form_label" for="{{ comment_form.rating.id_for_label }}">{{ comment_form.rating.label }}: </label>{{ comment_form.rating }}</p>
        <div class="form_error">{{ comment_form.rating.errors }}</div>
        <div >
            
            <input id="rating-input" type="checkbox" value={{ comment_form.rating.choices }}/>
        
            {{ comment_form.field_name.label_tag }}
            {% for pk, choice in comment_form.field_name.field.widget.choices %}
            <div >
                <input id="id_{{comment_form.field_name.name}}_{{ forloop.counter0 }}" name="{{comment_form.field_name.name}}" type="{{comment_form.field_name.field.widget.input_type}}" value="{{pk}}" >
                 
                 {% endfor %}
        
        </div>
        

             



        <p><label class="form_label" for="{{ comment_form.comment.id_for_label }}">{{ comment_form.comment.label }}: </label>{{ comment_form.comment }}</p>
        <div class="form_error">{{ comment_form.comment.errors }}</div>

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>-->


     <!--<form method="post"> 
        {% csrf_token %}
        <p><label class="form_label" for="{{ comment_form.rating.id_for_label }}">Оценка: </label><input id="rating-input" type="text" title=""/></p>
        
        <div class="form_error">{{ comment_form.rating.errors }}</div>
        
           

        <p><label class="form_label" >Комментарий: </label>{{ comment_form.comment }}</p>
        <div class="form_error">{{ comment_form.comment.errors }}</div>
        
        <div class="form_error">{{ form.non_field_errors }}</div>
    
        
      
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>-->
     
        

        <script> 
            jQuery(document).ready(function () {
                $("#input-21f").rating({
                    starCaptions: function (val) {
                        if (val < 3) {
                            return val;
                        } else {
                            return 'high';
                        }
                    },
                    starCaptionClasses: function (val) {
                        if (val < 3) {
                            return 'label label-danger';
                        } else {
                            return 'label label-success';
                        }
                    },
                    hoverOnClear: false
                });
                var $inp = $('#rating-input');
    
                $inp.rating({
                    min: 0,
                    max: 5,
                    step: 1,
                    size: 'lg',
                    showClear: false
                });
    
                $('#btn-rating-input').on('click', function () {
                    $inp.rating('refresh', {
                        showClear: true,
                        disabled: !$inp.attr('disabled')
                    });
                });
    
    
                $('.btn-danger').on('click', function () {
                    $("#kartik").rating('destroy');
                });
    
                $('.btn-success').on('click', function () {
                    $("#kartik").rating('create');
                });
    
                $inp.on('rating.change', function () {
                    alert($('#rating-input').val());
                });
    
    
                $('.rb-rating').rating({
                    'showCaption': true,
                    'stars': '3',
                    'min': '0',
                    'max': '3',
                    'step': '1',
                    'size': 'xs',
                    'starCaptions': {0: 'status:nix', 1: 'status:wackelt', 2: 'status:geht', 3: 'status:laeuft'}
                });
                $("#input-21c").rating({
                    min: 0, max: 8, step: 0.5, size: "xl", stars: "8"
                });
            });
        </script>
    </div>
    
    
</div>
{% endfor %}

{% endblock %}