{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for i in book %}

<br>
<br>
<div class='book_div'>
        {% if i.photo %}
            <div class='div_img_book'><p><img class="photo_book" src="{{i.photo.url}}"></p></div>
        {% endif %}
        <h1 class='title_h1_book'>{{i.title}}</h1>
        <div class='a_book'><a class="a_book"  href="{% url 'author' i.author %}">{{ i.author }}</a></div>
        {% if avg_rating.avg != None %}
        <p class="book_rating_p"><svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" color="orange">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg> {{ avg_rating.avg|floatformat }}</p>
          {% else %}
          <p class="book_rating_p"><svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" color="orange">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg> Нет оценки</p>
          {% endif %}
        <div class='book_box'>
            <div class='book_box_left'>
                <h6 class="cart_disc">Издательсвто</h6>
                <h6 class="cart_disc">Год издания</h6>
                <h6 class="cart_disc">ISBN</h6>
                <h6 class="cart_disc">Количество страниц</h6>
                <h6 class="cart_disc">Размер</h6>
                <h6 class="cart_disc">Тип обложки</h6>
                <h6 class="cart_disc">Вес, г</h6>
                <h6 class="cart_disc">Возрастные ограничение</h6>
            </div>
            <div class='book_box_right'>
                <h6 class="cart_disc">{{i.publisher}}</h6>
                <h6 class="cart_disc">{{i.year_of_publication}}</h6>
                <h6 class="cart_disc">{{i.ISBN}}</h6>
                <h6 class="cart_disc">{{i.number_of_pages}}</h6>
                <h6 class="cart_disc">{{i.size}}</h6>
                <h6 class="cart_disc">{{i.type_of_cover}}</h6>
                <h6 class="cart_disc">{{i.weight}}</h6>
                <h6 class="cart_disc">{{i.age_restrictions}}+</h6>
            </div>
            <div class="card" id="book_price_cart">
                <div class="card-body">
                  <h3 class="card-title" id="h3_price_card">{{i.price}} р.</h3>
                  <h6 class="card-subtitle" id="h6_card_book"><svg width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16" color="#37ceb4">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg> В наличии</h6>
                  <!--<a href="#" class="btn btn-primary" id="btn_card_price">Заказать</a>-->
                  
                  <div class="form_book_buy">
                  <form action="{% url "cart_add" i.slug %}" method="post">
                    <div class="producr_quantity">
                        <div class="number">
                            <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                            <input type="number" name="quantity" min="1" value="1" >
                            <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                          </div>
                    </div>
                    {% csrf_token %}
                    
                    <div class="btn_card_price"><input class="btn btn-primary" id="btn_card_price" type="submit" value="Заказать"></div>
                </form>
                </div>
                <div style='clear:both; margin: 0 0 20px 0'></div>
                

                  <h6 class="card-text" id="card_p"><svg width="21" height="21" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg> В магазинах сети, Бесплатно </h6>
                  <h6 class="card-text" id="card_p_date"> до {{ date_delivary_to_shop|date:"d.m.Y" }}</h6>
                  <br>
                  <h6 class="card-text" id="card_p"><img  src="{% static 'books/img/car.c38a3b2.svg' %}" > Доставка курьером, 120 ₽</h6>
                  <h6 class="card-text" id="card_p_date">до {{ date_delivary|date:"d.m.Y" }}</h6>
                  
                  
                </div>
              </div>
            <div style='clear:both;'></div>
        </div>
        <div><h6 class="book_description" >{{i.description}}</h6></div>
        
        


</div>


<div>
    {% if request.user.is_authenticated %}
    <hr>
    <h1 class='comment_h1_book'>Оставить отзыв</h1>
    <form method="post"> 
        {% csrf_token %}
            <input id="rating-input" type="radio" name="rating" value="1" data-min=0 data-max=5 data-step=1 checked>
        <!--<select class="form-select" name = "rating" aria-label="Default select example">
            <option selected>Ваша оценка </option>
            <option value="1">1 звезда </option>
            <option value="2">2 звезды</option>
            <option value="3">3 звезды</option>
            <option value="4">4 звезды</option>
            <option value="5">5 звезд</option>
          </select>-->
        <p><label class="form_label" for="{{ comment_form.comment.id_for_label }}"></label>
            {{ comment_form.comment }}
        </p>
        <!--<p><label class="form_label" for="comment"></label>
            <textarea class="form-control" type="text" name="comment" cols="40" rows="10" placeholder="Комментарий" required></textarea>
        </p> -->
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    {% endif %}
    
    {% if comments %}
        <br>
        <hr>
        <br>
        <h1 class='comment_h1_book'>Отзывы</h1>
    {% endif %}
        {% for i in comments %}
        <div class="card" id = "comments">
            <div class="card-body">
                <p class="card-text" id="user">{{ i.user }}</p>
                <p class="card-text" id="rating"><svg width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" color="orange">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg> {{ i.rating }}</p>
                <p class="card-text" id="comment">{{ i.comment }}</p>
            </div>
        </div>
        {% endfor %}
        <div style='clear:both;'></div>
        


        <script> 
            jQuery(document).ready(function () {
                $("#input-21f").rating({
                    starCaptions: function (val) {
                        if (val < 3) {
                            return val;
                        } else {
                            return 'high';
                        }
                    },
                    starCaptionClasses: function (val) {
                        if (val < 3) {
                            return 'label label-danger';
                        } else {
                            return 'label label-success';
                        }
                    },
                    hoverOnClear: false
                });
                var $inp = $('#rating-input');
    
                $inp.rating({
                    min: 0,
                    max: 5,
                    step: 1,
                    size: 'md',
                    showClear: false
                });
    
                $('#btn-rating-input').on('click', function () {
                    $inp.rating('refresh', {
                        showClear: true,
                        disabled: !$inp.attr('disabled')
                    });
                });
    
    
                $('.btn-danger').on('click', function () {
                    $("#kartik").rating('destroy');
                });
    
                $('.btn-success').on('click', function () {
                    $("#kartik").rating('create');
                });
    
                $inp.on('rating.change', function () {
                    alert($('#rating-input').val());
                });
    
    
                $('.rb-rating').rating({
                    'showCaption': true,
                    'stars': '3',
                    'min': '0',
                    'max': '3',
                    'step': '1',
                    'size': 'xs',
                    'starCaptions': {0: 'status:nix', 1: 'status:wackelt', 2: 'status:geht', 3: 'status:laeuft'}
                });
                $("#input-21c").rating({
                    min: 0, max: 8, step: 0.5, size: "xl", stars: "8"
                });
            });
            (function (factory) {
                'use strict';
                if (typeof define === 'function' && define.amd) {
                    define(['jquery'], factory);
                } else if (typeof module === 'object' && typeof module.exports === 'object') { 
                    factory(require('jquery'));
                } else { 
                    factory(window.jQuery);
                }
            }(function ($) {
                "use strict";
                $.fn.ratingLocales['ru'] = {
                    defaultCaption: '{rating} Звёзды',
                    starCaptions: {
                        0.5: 'Половина звезды',
                        1: 'Одна звезда',
                        1.5: 'Полторы звезды',
                        2: 'Две звезды',
                        2.5: 'Две с половиной звезды',
                        3: 'Три звезды',
                        3.5: 'Три с половиной звезды',
                        4: 'Четыре звезды',
                        4.5: 'Четыре с половиной звезды',
                        5: 'Пять звёзд'
                    },
                    clearButtonTitle: 'Очистить',
                    clearCaption: 'Без рейтинга'
                };
            }));
        </script>
    </div>
    
    
</div>
{% endfor %}

{% endblock %}