{% extends 'books/base.html' %}

{% load static %}
{% block content %}

<form action="{% url "detective" %}" method="get">
    <label for="sort">Сортировать по:</label>
    <select name="sort" id="sort">
        <option value="default">По умолчанию</option>
        <option value="price_to_low">Дешевле</option>
        <option value="price_to_hight">Дороже</option>
    </select>
    <input type="submit" value="Сортировать">
</form>

    {% for i in books %}
        {{ i.title }}
        {% if i.photo %}
            <p><img class="photo" src="{{i.photo.url}}"></p>
        {% endif %}

        {{ i.price }}

    {% endfor %}

{% endblock %}