{% extends 'base.html' %}
{% load static %}
{% load books_tags %}

{% block content %}

<div class= "title_h1_div"><h1 class="title_h1">Бестселлеры</h1></div>
<div class="index">
    <div class="sidebar_index">
        <ul class="nav flex-column">
            {% tag_categories as categories %}
            {% for category in categories %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'main:category' category.slug %}">{{category.name}}</a></li>
            {% endfor %}
            
        </ul>
        <div class="sales">
            <a style="text-decoration: none" href="#">
                <div><img  src="{% static 'books/img/sales.b01f8a1.svg' %}" ></div>
                <div class="hot_sales"><h5 class="card-subtitle" id="price_product_cart" >Горячие скидки 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
                    </svg></h5>
                </div>
            </a>
        </div>
    </div>
    <div class="index_card">
        {% load cache %}
        {% cache 300 books_index %}
        {% for i in books  %}
            <a href="{{ i.get_absolute_url }}"><div class="card" id="index_card_minicards" >
                {% if i.photo %}
                    <a href="{{ i.get_absolute_url }}"><img class="img-fluid rounded-start" src="{{i.photo.url}}"></a>
                {% endif %}
            <div class="card-body">
                <div class="index_body_card">
                    <h6 class="card-title"><a class="a_href_title" href="{{ i.get_absolute_url }}">{{ i.title|truncatechars:23 }}</a></h6>
                    <p class="card-text"><a class="a_book" id="cat_a_author" href="{% url 'main:author' i.author_slug_URL %}">{{ i.author|truncatechars:15 }}<a></p>
                </div>
               <div class="price_index"><h5 class="card-subtitle" id="price_product_cart" >{{ i.price }} ₽</h5></div>
            </div>
        </div></a>
        {% endfor %}
        {% endcache %}
    </div>
    {% if request.user.is_authenticated %}
        {% with total_items_order=orders_users|length %}
            {% if total_items_order > 0 %}
                <div class="recomended_h1"><h1 class="title_h1">Рекомендации для Вас</h1></div>
                    <div class="recomended">
                    {% for i in simular_books %}
                        <a href="{{ i.get_absolute_url }}"><div class="card" id="index_card_minicards" >
                            {% if i.photo %}
                                <a href="{{ i.get_absolute_url }}"><img class="img-fluid rounded-start" src="{{i.photo.url}}"></a>
                            {% endif %}
                        <div class="card-body">
                            <div class="index_body_card">
                                <h6 class="card-title"><a class="a_href_title" href="{{ i.get_absolute_url }}">{{ i.title|truncatechars:23 }}</a></h6>
                                <p class="card-text"><a class="a_book" id="cat_a_author" href="{% url 'main:author' i.author_slug_URL %}">{{ i.author|truncatechars:15 }}<a></p>
                            </div>
                           <div class="price_index"><h5 class="card-subtitle" id="price_product_cart" >{{ i.price }} ₽</h5></div>
                        </div>
                    </div></a>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

       
       
       
       <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in books  %}
                    <div class="carousel-item active">
                        <a href="{{ i.get_absolute_url }}"><div class="card" id="index_card_minicards" >
                            {% if i.photo %}
                                <a href="{{ i.get_absolute_url }}"><img class="img-fluid rounded-start" src="{{i.photo.url}}"></a>
                            {% endif %}
                        <div class="card-body">
                            <div class="index_body_card">
                                <h6 class="card-title"><a class="a_href_title" href="{{ i.get_absolute_url }}">{{ i.title|truncatechars:23 }}</a></h6>
                                <p class="card-text"><a class="a_book" id="cat_a_author" href="{% url 'main:author' i.author_slug_URL %}">{{ i.author|truncatechars:15 }}<a></p>
                            </div>
                           <div class="price_index"><h5 class="card-subtitle" id="price_product_cart" >{{ i.price }} ₽</h5></div>
                        </div>
                    </div></a>
                    </div>
                {% endfor %}
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

     
          <div class="my-5 text-center container">
            <div class="row mb-2">
               <div class="col text-center">
                  <h1>Carousel with outer controls</h1>
               </div>
            </div>
            <div class="row d-flex align-items-center">
               <div class="col-1 d-flex align-items-center justify-content-center">
                  <a href="#carouselExampleIndicators" role="button" data-slide="prev">
                     <div class="carousel-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                           <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
                        </svg>
                     </div>
                  </a>
               </div>
               <div class="col-10">
                  Start carousel
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">
                            
                              <div class="col-12 col-md d-flex align-items-center justify-content-center">
                              </div>
                              <div class="col-12 col-md d-flex align-items-center justify-content-center">
                              </div>
                              <div class="col-12 col-md d-flex align-items-center justify-content-center" class="col-12 col-md d-flex align-items-center justify-content-center">
                                 
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun01.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center">
                              </div>
                              <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun03.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center">
                              </div>
                              <div style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/flexfun06.jpg');" class="col-12 col-md d-flex align-items-center justify-content-center" class="col-12 col-md d-flex align-items-center justify-content-center">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  End carousel
               </div>
               <div class="col-1 d-flex align-items-center justify-content-center"><a  href="#carouselExampleIndicators" data-slide="next">
                  <div class="carousel-nav-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
                     </svg>
                  </div>
                  </a>
               </div>
            </div>
         </div>-->






{% endblock %}
