{% extends 'base.html' %}

{% load static %}
{% block content %}

{% if result %}

{% for i in result %}
<a href="{{ i.get_absolute_url }}"><div class="card mb-3" style="width: 540px; height: 250px ">
    <div class="row g-0">
      <div class="col-md-4"  >
        {% if i.photo %}
        <img class="img-fluid rounded-start" src="{{i.photo.url}}">
        {% endif %}
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">{{ i.title|truncatechars:53 }}</h5>
          <p class="card-text">{{ i.author }}</p>
          <p class="card-text">{{ i.price }} ₽</p>
          
        </div>
        
      </div>
    </div>
  </div></a>
{% endfor %}

{% endif %}

{% endblock %}