{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% load mathfilters %}

{% block content %}

<br>
<h3 class="title_h1">Заказ</h3>

<div class="card" id="card_buy" style="width: 21rem;">
    <div class="card-body">
        {% if my_promo == "1" %}
            <div class="float_right"><h5 class="card-title">{{ cart.get_total_price|div:10|mul:9 }} ₽</h5></div>
            <div class="card_title_div"><h5 class="card-title">Итого: </h5></div>
        {% else %}
            <div class="float_right"><h5 class="card-title">{{ cart.get_total_price }} ₽</h5></div>
            <div class="card_title_div"><h5 class="card-title">Итого: </h5></div>
        {% endif %}
        {% with total_items=cart|length %}
            <div class="float_right"><h6 class="card-subtitle">{{ total_items }} шт.</h6></div>
            <div class="card_title_div"><h6 class="card-subtitle mb-2">Количество: </h6></div>
        {% endwith %}
        {% if my_promo == "1" %}
            {% for item in cart %}
                <div class="float_right">{{ item.total_price|div:10|mul:9 }}₽</div>
                <div class="card_title_div"><h6 class="card-subtitle mb-2 text-body-secondary">{{ item.quantity }} x {{ item.product.title|truncatechars:23 }}</h6></div>
            {% endfor %}  
        {% else %}
            {% for item in cart %}
                <div class="float_right">{{ item.total_price }}₽</div>
                <div class="card_title_div"><h6 class="card-subtitle mb-2 text-body-secondary">{{ item.quantity }} x {{ item.product.title|truncatechars:23 }}</h6></div>
            {% endfor %}    
        {% endif %}
    </div>
  </div>
   
    <form action="{% url 'orders:order_create_non_authenticated' %}" method="post" class="order-form">
        <p><label class="form_label" for="id_first_name"></label>
            <input type"text" class="form-control", id="order_form" 
                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" 
                name="first_name" placeholder="Имя" required>
        </p>
        {% if form.first_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
        {% endif %}
        <p><label class="form_label" for="id_last_name"></label>
            <input type"text" class="form-control", id="order_form" 
                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                name="last_name" placeholder="Фамилия" required>
        </p>
        {% if form.last_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
        {% endif %}
        <p><label class="form_label" for="id_email"></label>
            <input type"text" class="form-control", id="order_form" 
                value="{% if form.email.value %}{{ form.email.value }}{% endif %}" 
                name="email" placeholder="email" required>
        </p>
        {% if form.email.errors %}
            <div style="max-width:400px" class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
        {% endif %}
        <p><div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="requires_delivery" id="flexRadioDefault1" value="1">
            <label class="form-check-label" for="flexRadioDefault1">
                Нужна доставка
            </label>

          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="requires_delivery" value="0" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Самовывоз
            </label>
          </div></p>
          {% if form.requires_delivery.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.requires_delivery.errors }}</div>
          {% endif %}
        <div id='id_address'><p><!--<label class="form_label" for="id_address">Необязательное поле*</label>-->
            <input type"text" class="form-control", id="order_form"
                value="{% if form.adress.value %}{{ form.adress.value }}{% endif %}"
                name="address" placeholder="Адрес">
        </p></div>
        {% if form.adress.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.adress.errors }}</div>
        {% endif %}
        <p><div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payment_on_get" id="flexRadioDefault1" value="0" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Оплата картой
            </label>

          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payment_on_get" value="1" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault2">
                Наличными/картой при получении
            </label>
          </div></p>
        {% if form.payment_on_get.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.payment_on_get.errors }}</div>
        {% endif %}
        <p>
            {{ form.recaptcha }}
        </p>
        {% if form.recaptcha.errors %}
            <div style="max-width:400px" class="alert alert-danger alert-dismissible fade show">{{ form.recaptcha.errors }}</div>
        {% endif %}

        <p><input type="submit" class="btn btn-primary mb-3" value="Заказать"></p>
        {% csrf_token %}
    </form>
{% endblock %}