html, body {
    height: 100%;
    font-family: Arial, Tahoma;
    color: rgb(236, 233, 233);
}

.header {
    
    height: 45px;
    
    border-radius: 20px 20px 20px 20px;
    
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 90px;
    min-width: 1000px;
    box-sizing: border-box;
}

.nav-tabs{
    position: fixed;
    width: 100%;
    max-width: 1200px;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    min-width: 1200px;
}

#authenticate{
    margin: 0 0 0 260px;
}

.profile_title_order{
    text-indent: 800px;
}

.profile_title_div{
    margin: 20px 0 20px 0;
}

.card{
    float: left;
    margin: 5px;
    width: 700px;
    height: 900px;
    display: block;
}

.cart_table{
    min-width: 1000px;
    z-index: 1;
}

.img-fluid.rounded-start{
    height: 248px;
    width: 175px;

}

select#sort.form-select{
    width: 200px;
    display: block;
    float:left;
    
}

.nav-item{
    padding: 3px 0 0 0;
}

.base_enter {
    float: right;
    z-index: 2;
    
}

.base_regist{
    float: right;
    z-index: 2;
    
}   

.form-control{
    max-width: 400px;
}


.form_label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}



.div_img_book{
    width: 300px;
    height: 500px;
    float: left;
    margin: 0 40px 0 0;
}

.photo_book{
    width: 300px;
    height: 500px;
}

.title_h1_book{
    font-size: 20px;
    line-height: 24px;
}

.comment_h1_book{
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 15px 5px;
}

.book_box{
    margin: 20px 0 0 0;
    
    
}

.book_box_left{
    float: left;
    width: 220px;
    
}

.book_box_right{
    float: left;
    width: 220px;
    
}

.book_description{
    margin: 35px 0 0 5px;
    font-family: Inter,sans-serif;
    word-break: break-word;
    color:#464958;
}

#btn_card_price{
    margin: 0 0 0 33px;
}


#comments{
    background-color: rgb(216, 255, 220);
    width: 80%;
}

.book_rating_p{
    margin: 10px 0 0 0;
}

.a_book{
    text-decoration: none;
    color: #0d6efd;
}

.a_book:hover{
    text-decoration: none;
    color: #0056d6;
}

#book_price_cart{
    display: block;
    position: absolute;
    width: 22rem;
    height: 21rem;
    margin: 0 0 0 800px;
}

#btn_card_price{
    width: 220px;
    height: 40px;
    margin: 0 0 0 0;
}

#btn_card_price2{
    width: 250px;
    height: 40px;
    margin: 0 0 0 29px;
}

.btn_card_price{
    display: block;
    float: right;
}

.producr_quantity{
    display: block;
    float: left;
}

#h6_card_book{
    color: #37ceb4;
    margin: 0 0 10px 33px;
}

#h3_price_card{
    margin: 10px 0 10px 33px;
}

#card_p{
    margin: 0px 33px 10px 33px;
    font-size: 1rem;
    font-family: Inter,sans-serif;
    word-break: break-word;
    color:#464958;
}

#card_p_date{
    margin: 0px 33px 10px 33px;
    font-size: 1.1rem;
    word-break: break-word;
}

.div_select{
    margin: 10px 0 0 0;
    display: block;
}

.input_div{
    display: inline-block;
    margin: 0 0 0 10px;
}

.form-select{
    margin: 0 0 30px 0;
    max-width: 200px;
}

.form-control {
    max-width: 700px;
}

#cart_product_photo {
    width: 92px;
    margin: 15px 15px;
}

#cart_product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.a_title_cart {
    text-decoration: none;
    color: #000000;
}

#price_product_cart{
    color: #f34a57;
    
}

#cart-body2{
    padding: 25px 0 0 140px;
}

#cart-body3{
    padding: 17px 0 0 140px;
}

#delete_product{
    margin: 50px 0 0 0;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    margin: 8px 0 0 0;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

#icon_cart{
    height: 30px;
    margin: 10px 0 0 0;
}

svg.bi.bi-cart3{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.order_buy {
    margin: 0 0 0 710px;
}

#card_buy{
    display: block;
    float: right;
}

#cart_div{
    min-width: 1150px;
}

.float_right{
    float: right;
}

.card_title_div{
    margin: 0 0 20px 0;
}

#promo{
    width: 190px;
}

#order_form{
    width: 400px;
}

#profile_form{
    width: 370px;
}

.empty_cart_parent{
    display: flex;
    justify-content: center;
}

.authorization{
    display: flex;
    justify-content: center;
    margin: 150px 0 0 0;
}

.profile{
    display: block;
    width: 390px;
    margin: -44px 0 0 10px;
}

.empty_cart{
    margin: 200px 0 0 0;
    font-family: Inter, sans-serif;
}

.p_cart_empty{
    text-align: center;
}


.pagination{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.form_cart_create{
    display: block;
    float: left;
}

#flex_tab{
    flex-wrap: nowrap;
    max-width: 350px;
}

.index_card{
    display: flex;
    flex-wrap: wrap;
    float: left;
    max-width: 1000px;
    margin: 50px 0 0 260px;
    
    
}

.sidebar_index{
    float: left;
    width: 250px;
    height: 855px;
    background-color: rgb(232, 246, 255);
    position: absolute;
}


.price_index{
    display: block;
    float: right;
    margin: 25px 0 0 0;
}

.index_body_card{
    height:71px;
}

#index_card_minicards{
    width:177px;
    height:400px;
}

.flex_index{
    display: flex;
    flex-wrap: nowrap;
}

.sales{
    margin: 15px 0 0 5px;
}

.hot_sales{
    display: block;
    margin: 0 0 0 12px;
}

.title_h1_div{
    display: block;
    margin: 10px 0 0 270px;
    position: absolute;
}

.title_h1{
    font-size: 24px;
}

.form-select.buy_count{
    width: 80px;
}

.form_book_buy{
    display: block;
    margin: 20px 0 0 0;
}

.cart_disc{
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    word-break: break-word;
    color:#464958;
}

.form_book_buy2{
    margin: 80px 0 0 0;
}

.login_btn{
    display:block;
    float:left;
}

.forgot_password{
    display:block;
    float:left;
    margin: 10px 0 0 150px;
}

.authorization_h5_center{
    text-align: center;
}

.a_href_title{
    text-decoration: none;
    color: #000000;
}

.number {
	display: inline-block;
	position: relative;
	width: 85px;
    border: 1.5px solid #edf3f7;
    border-radius: 2px;
    margin: 3px 0 0 0;
}
.number input[type="number"] {
	display: block;
	height: 32px;
    border: 0;
    color: inherit;
    font-family: Inter,system-ui,Arial,sans-serif;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
    outline: none;
    
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
    background-color: #fff;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 25px;
	padding: 0;
	display: block;
	text-align: center;
	border: 0;
	font-size: 16px;
	font-weight: 600;
    font-family: inherit;
    transition: background-color .2s,color .2s,opacity .2s;
    
}
.number-plus {
	position: absolute;
    background-color: #fff;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 25px;
	padding: 0;
	display: block;
	text-align: center;
	border: 0;
	font-size: 16px;
	font-weight: 600;
    font-family: inherit;
    transition: background-color .2s,color .2s,opacity .2s;
}

#cat_a_author{
    color: #707783
}

#profile_row{
    width: 400px;
}

.profile{
    float: left;
    display: block;
}

#logout_li{
    margin: 0 0 0 11px
}