html, body {
    height: 100%;
    font-family: Arial, Tahoma;
    color: rgb(236, 233, 233);
    
    
    
}

.header {
    
    height: 45px;
    
    border-radius: 20px 20px 20px 20px;
    
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 90px;
    min-width: 1000px;
    box-sizing: border-box;
}

.nav-tabs{
    position: fixed;
    width: 100%;
    max-width: 1200px;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    min-width: 1200px;
}

#authenticate{
    margin: 0 12px 0 350px;

    
}

.card{
    float: left;
    margin: 5px;
    width: 700px;
    height: 900px;
    display: block;
    
}

.cart_table{
    min-width: 1000px;
    z-index: 1;
}

.img-fluid.rounded-start{
    height: 248px;
    width: 175px;

}

select#sort.form-select{
    width: 200px;
    display: block;
    float:left;
    
}

.nav-item{
    padding: 3px 0 0 0;
}

.base_enter {
    float: right;
    z-index: 2;
    
}

.base_regist{
    float: right;
    z-index: 2;
    
}   

.form-control{
    max-width: 400px;
}


.form_label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}



.div_img_book{
    width: 300px;
    height: 500px;
    float: left;
    margin: 0 40px 0 0;
}

.photo_book{
    width: 300px;
    height: 500px;
}

.title_h1_book{
    font-size: 18px;
    line-height: 24px;
}

.book_box{
    margin: 20px 0 0 0;
    
    
}

.book_box_left{
    float: left;
    width: 220px;
    
}

.book_box_right{
    float: left;
    width: 220px;
    
}

.book_description{
    margin: 35px 0 0 0;
}

#comments{
    background-color: rgb(216, 255, 220);
    width: 80%;
    
}

.book_rating_p{
    margin: 10px 0 0 0;

}

.a_book{
    text-decoration: none;
    color: #0d6efd;
}

.a_book:hover{
    text-decoration: none;
    color: #0056d6;
}

#book_price_cart{
    width: 22rem;
    height: 21rem;
}

#btn_card_price{
    width: 250px;
    height: 40px;
    margin: 0 0 0 33px;
}

#h6_card_book{
    color: #37ceb4;
    margin: 0 0 10px 33px;
}

#h3_price_card{
    margin: 10px 0 10px 33px;
}

#card_p{
    margin: 15px 33px 10px 33px;
}

.div_select{
    margin: 10px 0 0 0;
    display: block;
}

.input_div{
    display: inline-block;
    margin: 0 0 0 10px;
}

.form-select{
    margin: 0 0 30px 0;
    max-width: 200px;
}

.form-control {
    max-width: 700px;
}

#cart_product_photo {
    width: 92px;
    margin: 15px 15px;
}

#cart_product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.a_title_cart {
    text-decoration: none;
    color: #000000;
}

#price_product_cart{
    color: #f34a57;
    
}

#cart-body2{
    padding: 25px 0 0 300px;
}

#delete_product{
    margin: 50px 0 0 0;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    margin: 8px 0 0 0;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

#icon_cart{
    height: 30px;
    margin: 10px 0 0 0;
}

svg.bi.bi-cart3{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}